<!-- src/main/resources/static/upload.jsp -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Side Menu</title>
    <link rel="stylesheet" href="style.css">
    <!---Boxicon css-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>



<nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="log.png" alt="">
            </span>

            <div class="text header-text">
                <span class="name">HepatoPath</span>
                <span class="profession">Prediction AI</span>
            </div>
        </div>

        <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
        <div class="menu">
            <li class="search-box">
                <i class='bx bx-search icon'></i>
                <input type="search" placeholder="Search" id="searchBox">
            </li>
            <ul class="menu-links">
                <li class="nav-link">
                    <a href="/Customer/EditProfile">
                        <i class='bx bx-user icon'></i>
                        <span class="text nav-text">Edit profile</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="/Customer/FaceEnrollment">
                        <i class='bx bx-face icon'></i>
                        <span class="text nav-text">Face</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/Customer/SOS">
                        <i class='bx bx-first-aid icon'></i>
                        <span class="text nav-text">SOS</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="/Customer/DiseaseClassifier">
                        <i class='bx bx-plus-medical icon'></i>
                        <span class="text nav-text">Disease</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/Customer/DiseaseSymptom">
                        <i class='bx bx-clinic icon'></i>
                        <span class="text nav-text">Disease Symptom</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="/Customer/PredictCirrhosis">
                        <i class='bx bx-analyse icon'></i>
                        <span class="text nav-text">Predict Cirrhosis</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="bottom-content">
            <li class="">
                <a href="#">
                    <i class='bx bx-log-out icon'></i>
                    <span class="text nav-text">Logout</span>
                </a>
            </li>
        </div>
    </div>
</nav>

<section class="home">
    <div class="text">Dashboard</div>
    <div class="box-container">

        <div class="box">
            <a href="/Customer/EditProfile" class="link">
                <img src="logo.png" alt="" class="logo">
                <h3>Edit Profile</h3>
            </a>
        </div>


        <div class="box">
            <a href="/Customer/FaceEnrollment" class="link">
            <img src="logo.png" alt="" class="logo">
                <h3>Update FaceLock</h3>
            </a>
        </div>


        <div class="box">
            <a href="/Customer/DiseaseClassifier" class="link">
                <img src="logo.png" alt="" class="logo">
                <h3>Disease Classify </h3>
            </a>
        </div>

        <div class="box">
            <a href="/Customer/DiseaseSymptom" class="link">
                <img src="logo.png" alt="" class="logo">
                <h3>Disease Symptom </h3>
            </a>
        </div>


        <div class="box">
            <a href="/Customer/PredictCirrhosis" class="link">
                <img src="logo.png" alt="" class="logo">
                <h3>Predict Cirrhosis </h3>
            </a>
        </div>

    </div>
</section>
<script>
    const body = document.querySelector("body"),
      sidebar = body.querySelector(".sidebar"),
      toggle = body.querySelector(".toggle"),
      searchBtn = body.querySelector(".search-box"),
      modeSwitch = body.querySelector(".toggle-switch"),
      modeText = body.querySelector(".mode-text");

// Check if dark mode is stored in localStorage and apply it
if(localStorage.getItem("darkMode") === "enabled") {
  body.classList.add("dark");
  modeText.innerText = "Light Mode";
}

toggle.addEventListener("click", () => {
  sidebar.classList.toggle("close");
  body.classList.toggle("sidebar-collapsed");
});

modeSwitch.addEventListener("click", () => {
  body.classList.toggle("dark");

  // Save the dark mode state in localStorage
  if(body.classList.contains("dark")) {
    modeText.innerText = "Light Mode";
    localStorage.setItem("darkMode", "enabled");
  } else {
    modeText.innerText = "Dark Mode";
    localStorage.setItem("darkMode", "disabled");
  }
});

</script>
</body>
</html>
d